.navbar-nav a{
    color: black;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}

.carousel-caption h5{
    font-size: 95px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-top: 50px;
}

.carousel-caption p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}